{
  "service": {
    "name": "node_exporter",
    "tags": [
      "metrics",
      "exporter",
      "name_system:{{ node_meta.name_system | default('default_system') }}",
      "environment:{{ node_meta.environment | default('default_environment') }}"
    ],
    "port": {{ node_exporter_port }},
    "meta": {
      "role_system": "{{ node_meta.role_system | default('default_role') }}",
      "name_system": "{{ node_meta.name_system | default('default_system') }}",
      "environment": "{{ node_meta.environment | default('default_environment') }}"
    },
    "check": {
      "http": "http://{{ ansible_default_ipv4.address }}:{{ node_exporter_port }}/metrics",
      "interval": "30s",
      "timeout": "5s"
    }
  }
}

